<h1>Add a new song:</h1>

<%= render "layouts/song_form" %>



<% if @song.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @song.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>